<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ToDo List Manager</title>
</head>

<body>
    <h1>Welcome to the Todo List Manager!</h1>
    <p><strong>Here is your current list of tasks:</strong></p>

    {% if tasklist|length != 0 %}
        <ul>
        {% for each in tasklist %}
            <li>{{ each['todo'] }} <a href="{{ url_for('delete', task = each['id']) }}">Delete</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p>You have completed all your tasks!</p>
    {% endif %}

    <form action = "{{ url_for('add') }}" method = "post">
        <p>Insert a new task:
        <input type = "text", name = "task"/>
        <input type = "submit" class = "btn btn-primary" values = "Enter"/>
        </p>
    </form>

</body>

</html>